.link {
  text-decoration: none;
  color: black;

  cursor: pointer;
}

.card {
  background-color: #f9fafb;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;

  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.imgWrapper {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;
}

.img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
  object-fit: cover;
}

.info {
  padding: 1rem;
  font-size: small;
}

.score {
  display: flex;
  align-self: center;
}

.starIcon {
  margin-right: 0.5rem;
}

@media (max-width: 540px) {
  .card {
    width: 200px;
  }
}
