.relatedAnimesContainer {
  text-decoration: none;

  padding: 1rem;
}

.relatedAnimes {
  background-color: #f9fafb;
  border: 1px solid #e6e6e6;
  border-radius: 10px;

  width: 150px;

  display: flex;
  align-items: center;
  flex-direction: column;

  cursor: pointer;

  transition: 0.2s;
}

.relatedAnimes:hover {
  transform: scale(1.1);
}

.imgWrapper {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.title {
  text-align: center;

  color: black;
}

@media screen and (max-width: 540px) {
  .relatedAnimes {
    width: 200px;
  }
}
