.animeCharacters {
  background-color: #f9fafb;
  border-radius: 10px;
  border: 1px solid #e6e6e6;

  margin-top: 1rem;

  width: 200px;
  height: 100px;
}

.characterDetails {
  display: flex;
  width: 100%;
}

.imgWrapper {
  width: 100px;
  height: 99px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  overflow: hidden;
}

.img {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.characterInfo {
  flex: 1;
  font-size: 0.1rem;
  padding: 0.5rem;
}

.name {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1px) and (max-width: 540px) {
  .animeCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .characterInfo {
    font-size: 0.3rem;
  }
}

@media only screen and (max-width: 320px) {
  .animeCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .characterInfo {
    font-size: 1rem;
  }
}
